@import url(http://fonts.googleapis.com/css?family=Lato:300,400,600);
.interactiveContainer {
    float: left;
    width: 100%;
    max-width: 800px;
    margin: 10px 0 35px !important;
    padding: 30px 0 !important;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border: none !important;
    font-family: "Lato", Arial, sans-serif;
}
.interactiveHeaders {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    font-family: "Lato", Arial, sans-serif;
}
.graphicHeader {
    float: left;
    font-size: 23px;
    font-weight: 400 !important;
    width: 100%;
    margin-bottom: 10px;
}
.explainer, .interactiveContainer p {
    float: left;
    font-size: 14px;
    width: 100%;
    font-weight: 400;
    color: #555;
    margin: 10px 0 10px;
    line-height: 18px;
}
.bigByline {
    float: left;
    width: 100%;
    margin: 2px 0 2px 0px;
    font-size: 13px;
    text-transform: uppercase;
    color: #555;
    font-weight: 100;
    text-align: left;
}
.smallByline {
    float: left;
    width: 100%;
    margin: 5px 0 0px 0px;
    font-size: 11px;
    text-transform: uppercase;
    color: #aaa;
    text-align: right;
}
.sourceline {
    float: left;
    width: 100%;
    font-size: 11px;
    font-style: italic;
    text-align: left;
    color: #aaa;
}
.sourceline a {
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
    color: #aaa;
}
.sourceline a:hover {
    color: #777;
}
.toolbar {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    display: table-row;
}
.toolItem {
/*    float: left;*/
      padding: 5px 10px;
    margin-left: -1px;
    border: #aaa solid 1px;
    border-right: none;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    color: #ccc;
    display: table-cell;
}

.toolItem:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.toolItem:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: 1px solid #aaa;
}
.toolItem:hover {
    color: #E34B4B;
}
.toolItem.selected {
    color: white !important;
    font-weight: 400;
    border: 1px solid #E34B4B !important;
    background: #E34B4B !important;
     pointer-events: none;
}
.fullWidth {
    float: left;
    width: 100%;
    margin: 5px 0;
}
.spanTitle {
    float: left;
    margin-right: 10px;
    font-weight: bold;
}
.kicker {
    font: 12px/14px"Lato", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #E34B4B;
}
.mainContainer {
    float: left;
    width: 100%;
    margin: 10px 0;
}
.relativeContainer {
    position: relative;
    min-height: 300px;
}
.dataTables_info {
    margin-bottom: 10px;
}
.sourceline span, .smallByline {
    font-family: "Lato" !important;
}

